extends layout

block pageStyle
	link(rel='stylesheet', type='text/css', href='/stylesheets/sol.css')

block content
	-if (error || success || notice)
		.reportArea
			h6 #{error}
			h6 #{success}
			h6 #{notice}
	script(src='/socket.io/socket.io.js')
	-if (user && user.valid)
		script(type='text/javascript').
			var socket = io.connect("http://82.37.178.154:8765");
			var username = !{JSON.stringify(user.name)};
			if (username != '') {
				console.log('Requesting Users');
				socket.emit('currentUser', username);
				var userUpdate = setInterval(function (){
					console.log('Requesting Users');
					socket.emit('currentUser', username);
				}, 10000);
			}
			socket.on("sendCurrentUsers", function (users){
				console.log("Recieveing sduu");
				controlTracker(users);
			});
		#forum-area
			header
				h2 FORUM
			section.forumLocation
				a(href='/forum').note HOME
			section.forumBox

			section.onlineUser
				div#currentUser
					img(src='#{user.avatar}'  alt='#{user.name}')
					a(href='/user/profile/#{user.name}') #{user.name}

	-else
		#title-area
			#title-box
				h1 #{titleMessage}

	#project-area
		#project-box
			h2 OUR PROJECTS
			h4 Over ambition and inexperience
		.project-holder
			a.project.smallThumb(href='http://www.hadesbroadband.co.uk').orange-bg
				.outer-circle
					.inner-circle
						img(src='./images/hadesbroadband_Logo.png', alt='Hades Broadband')
				section.project-desc
					h6.uline Hades Broadband
					p Hades Broadband hub for news and Team Speak access.
			a.project.largeThumb(href='http://sams.hadesoft.io').green-bg
				.outer-circle
					.inner-circle
						img(src='./images/sams_Logo.png', alt='SamS')
				section.project-desc
					h6.uline SamS
					p Computing Project
			a.project.smallThumb(href='https://github.com/Snappey/HadesBot').red-bg
				.outer-circle
					.inner-circle
						img(src='./images/hadesbot_Logo.png', alt='Hades Bot')
				section.project-desc
					h6.uline Hades Bot
					p Steam bot
			a.project.largeThumb(href='https://www.hadesoft.io').blue-bg
				.outer-circle
					.inner-circle
						img(src='./images/hadesoft_Logo.png', alt='HadeSoft')
				section.project-desc
					h6.uline HadeSoft
					p Hades Broadband software and Website Development hub.

	#team-area
		header#team-header
			.team-wrap-side
			img(src='./images/ourTeam.png')
			.team-wrap-side
		section#team-box
			.members
				.member
					img(src='./images/mem1.png', alt='')
				.member
					img(src='./images/mem2.png', alt='')
				.member
					img(src='./images/mem3.png', alt='')

	script(type='text/javascript' src='/javascripts/formatting.js')
